// * 当前页面最大化 css
.main-maximize {
	.aside-split,
	.el-aside,
	.el-header,
	.el-footer,
	.tabs-box {
		display: none !important;
	}
}

// * card 卡片样式
.card {
	box-sizing: border-box;
	padding: 20px;
	border-radius: 4px;
	background-color: var(--el-fill-color-blank);
	border: 1px solid var(--el-border-color-light);
	box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}