.footer {
    height: 30px;
    background-color: #ffffff;

    a {
        font-size: 14px;
        color: rgba(127, 140, 141, 1.0);
        text-decoration: none;
        letter-spacing: 0.5px;
    }
}